<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Add House</h1>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
    <form th:action="@{/house/addHouse/}" th:object="${house}" method="post">
        <div>
            <label>Name House</label>
            <label>
                <input type="text" th:field="*{nameHouse}" />
            </label>
        </div>
        <div>
            <label>Address</label>
            <label>
                <input type="text" th:field="*{address}" />
            </label>
        </div>
        <div>
            <label>Type House</label>
            <label>
                <input type="text" th:field="*{typeHouse}" />
            </label>
        </div>
        <div>
            <label>Type Room</label>
            <label>
                <input type="text" th:field="*{typeRoom}" />
            </label>
        </div>
        <div>
            <label>Amount Bed Room</label>
            <label>
                <input type="text" th:field="*{amountBedRoom}" />
            </label>
        </div>
        <div>
            <label>Amount Bath Room</label>
            <label>
                <input type="text" th:field="*{amountBathRoom}" />
            </label>
        </div>
        <div>
            <label>Amount Night</label>
            <label>
                <input type="text" th:field="*{amountNight}" />
            </label>
        </div>
        <div>
            <label>Describe Room</label>
            <label>
                <input type="text" th:field="*{describeRoom}" />
            </label>
        </div>
        <div>
            <label></label>
            <label>
                <input type="submit" value="Save House" />
            </label>
        </div>
    </form>
</body>
</html>